@()(implicit flash:Flash)

@main("Add Employee"){
<div style="padding: 2cm; background-color:mistyrose;height:30cm">
    <form style="padding:10px; float:left" action="@routes.HR.login">
        <button class="btn btn-primary" type="submit">Log Out!</button>
    </form>

    <form style="padding:10px;" action="@routes.HR.show_emp">
        <button class="btn btn-primary" type="submit">Show Employee</button>
    </form>

    <form method="POST" action="@routes.HR.val_emp" style="border: solid 2px ;border-radius:15px;border-color:white; background-color:peachpuff ; padding:10px" class="needs-validation" >
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">First name</label>
            <input type="text" class="form-control" name="fname" placeholder="First name" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Last name</label>
            <input type="text" class="form-control" name="lname" placeholder="Last name"  required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustomUsername">Age</label>
            <div class="input-group">
                <input type="number" class="form-control" name="age" placeholder="Age"  required>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">Salary</label>
            <input type="number" class="form-control" name="salary" placeholder="Salary" required>
            <div class="invalid-feedback">
                Please provide a salary.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom04">Department</label>
            <input type="text" class="form-control" name="dept" placeholder="Department" required>
            <div class="invalid-feedback">
                Please provide a department.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom05">Location</label>
            <input type="text" class="form-control" name="location" placeholder="Location" required>
            <div class="invalid-feedback">
                Please provide a location.
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Add Employee</button>
    <span style="color:green">@flash.get("msg")</span>
</form>
</div>
}